.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust the top margin as needed */
}

.pagination-container .MuiPagination-ul {
  margin-left: 20px; /* Adjust the left margin as needed */
}
